@gt-website-theme--light: #fff;
@gt-website-theme--dark: linear-gradient(0.5turn, #000,#212121);

@gt-home--light: #f6f6f7;

@gt-side-bar-width--expend:14vw;
@gt-side-bar-height:100vh;

@gt-nav-bar-height: 60px;

@gt-right-width--expend: 100vw - @gt-side-bar-width--expend;