//系统主题
$gt-website-theme--light: #fff;

//侧边栏
$gt-side-bar-width--expend:14vw;
$gt-side-bar-height:100vh;
$gt-side-bar-bg-color:#001428;

//导航栏
$gt-nav-bar-height: 50px;
//右侧区域数值
$gt-right-width--expend: calc(101vw - $gt-side-bar-width--expend);
$gt-right-width--collapse: calc(100vw - 60px);
$gt-main-height: calc(100vh - 60px);
